*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/**boot css**/

.center{
    max-width: 1280px;
    padding:0 50%;
}
.left{
    float: left;
}

.right{
    float:right;
}
.clear{
    clear:both;
}
/**logo**/

img .logo{
    position: relative;
    
}

/**estilização o header**/
header{
   
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 100px;
    z-index:10;
    background:#373435;
    min-height: 60px;
    position: fixed;
 }
 

/**mobile**/
nav.mobile{
    display: none;
}

/**barra de navegação**/
@media screen and (max-width:700px){
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display:block;
    }
    .botao-menu-mobile{
        font-size: 30px;
        cursor: pointer;
        color: #fff;
    }
    nav.mobile ul{
        top:120px;
        z-index: 3;
        position: absolute;
        left:0;
        width: 100%;
        display: none;
        text-align:center;
    }
    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #373435;
        font-size: 15px;
        padding:8px 0;
    }
    nav.mobile  li a{
        display: block;
        color:black;
        text-decoration: none;
    }
    
    nav.search{
        display: none;
    }
}
/*imagens **/
@media screen and (max-width: 768px){
    img{
        float:none !important;
        display: block;
        margin:0 auto;
        max-width: 500px;
    }
}
/nagavegação/
nav.desktop ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

nav.desktop li{
    list-style: none;
    margin: 0 10px;
}

nav.desktop li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 30px;
}

nav.desktop li a:hover{
    color: #EC268F;

}

/**barra de pesquisa**/

nav.search{
    position: relative;
    width: 300px;
    height: 40px;
}
nav.search input{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 10px 0 45px;
}
nav.search input::placeholder{
    color: #fff;
}

nav.search .fa-search{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

/**corpo do site**/
body{

    background-image: url(../imagens/bck.png);
    padding: 100px;  
}

.container{
   padding: 200px 100px 100px;
   min-height: 100vh;
   margin-left: -120px;
   margin-right: -100px;
   margin-top: -140px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.content{
  padding-right: 10%;
}

.sales1{
   padding-bottom: 1%;
}

/**jogos da parte de baixo**/

div{
   display: inline-block;
}

.cyber{
       width: 100%;
       height: 600px;
       object-fit: cover;
       object-position: bottom;
       border-color: #EC268F;
       border-style: double;
       border-radius: 20px;
       border-width: 12px;
      
}
.valha{

       width: 100%;
       height: 500px;
       object-fit: cover;
       object-position: bottom;
       border-color: #EC268F;
       border-style: double;
       border-radius: 20px;
       border-width: 12px;
       margin-top: 10px;
}

.revi{
   
   
   height: 450px;
   object-fit: cover;
   object-position: bottom;
   border-color: #EC268F;
   border-style: double;
   border-radius: 20px;
   border-width: 12px;
   margin-top: 10px;
}

.sky{
   
   
   height: 750px;
   object-fit: cover;
   object-position: bottom;
   border-color: #EC268F;
   border-style: double;
   border-radius: 20px;
   border-width: 12px;
   margin-top: 10px;
}

/**footer**/

footer{
    position: relative;
    width:100%;
    height: auto;
    padding: 50px 200px;
    background-color: #373435;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .footer .sec{
    margin-right: 30px; 
}
footer .footer .sec.aboutus{
    width: 40%;
}
footer .footer  h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .footer h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background:#EC268F;
}
footer p{
    color: #fff;
}

.sci{
    margin-top:20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background:#EC268F;
}
.sci li a .fab
{
    color: #fff;
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 25%;
}
.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a{
    color:#999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
}